engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*@emotion/*
public-hoist-pattern[]=*@mui/*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*next*
shamefully-hoist=true