html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--joy-palette-background-surface);
}

.verticalCenter {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}

.flexBottom {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-end;
}
